<section class="text-jet text-xl font-kosugi tracking-wide article pt-60 pl-40">
    <div class="min-h-screen items-center mx-auto">

<h1>Forgot your password?</h1>
<br>

<.form let={f} for={:user} action={Routes.user_reset_password_path(@conn, :create)}>
  <%= label f, :email %>
  <br>
  <%= email_input f, :email, required: true %>
  <div>
    <br>
    <span class="underline text-lg"><%= submit "Send instructions to reset password" %></span>
  </div>
</.form>


</div>
</section>
