<section class="flex-auto article text-jet text-xl font-kosugi tracking-wide">
    <div class="min-h-screen items-center mx-auto">

<h1>Forgot your password?</h1>
<br>

<.form let={f} for={:user} action={Routes.user_reset_password_path(@conn, :create)}>
  <%= label f, :email %>
  <%= email_input f, :email, required: true %>
  <div>
    <br>
    <%= submit "Send instructions to reset password" %>
  </div>
</.form>


</div>
</section>
