<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Blog", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/vendor/fonts/Jura/jura.css")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/vendor/fonts/Kosugi/kosugi.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/js/app.js")}></script>
  </head>
  <body class="bg-left-top pt-12 bg-gray-300">
  <section class="">
  <p class="text-5xl p-8 font-jura tracking-widest"> B E A M  S C E N E </p>
  <hr width="60%" color="gray-500" size="50px" align="center" />
  <p class="text-2xl px-8 py-4 font-kosugi"> An Elixir & Erlang ecosytem blog.</p>
</section>

<div class="absolute">
  <marquee width="50%" direction="up" height="400px">
  1. The system must be able to handle very large numbers of concurrent activities.<br><br>
  2. Actions must be performed at a certain point in time or within a certain time.<br><br>
  3. Systems may be distributed over several computers.<br><br>
  4. The system is used to control hardware.<br><br>
  5. The software systems are very large.<br><br>
  6. The system exhibits complex functionality such as, feature interaction.<br><br>
  7. The systems should be in continuous operation for many years.<br><br>
  8. Software maintenance (reconfiguration, etc) should be performed without stopping the system.<br><br>
  9. There are stringent quality, and reliability requirements.<br><br>
  10. Fault tolerance both to hardware failures, and software errors, must be provided.<br><br>

  Bjarne Däcker. Concurrent functional programming for telecommunications: A case study of technology introduction. November 2000.
  Licentiate Thesis.<br><br>
  </marquee>
</div>

<section class="row py-2 flex-wrap">
  <article class="text-xl column px-36">
    <%= @inner_content %>
    <ul>
      <li class="py-2 font-kosugi">
        <a href="/about">ABOUT</a>
      </li>
      <li class="py-2 font-kosugi">
        <a href="/posts">POSTS</a>
      </li>
      <li class="py-2 font-kosugi">
        <a href="/tags">TAGS</a>
      </li>
      <li class="py-2 font-kosugi">
        <a href="/codezone">CODE ZONE</a>
      </li>
      <li class="py-2 font-kosugi">
        <a href="/webring">WEBRING</a>
      </li>
    </ul>
  </article>
</section>

  </body>
</html>
