<section class="flex-auto article pt-40">
  <article>
    <h1 class="font-jura text-4xl">Edit Post</h1>
  </article>
<br>
<%= render "form.html", Map.put(assigns, :action, Routes.posts_path(@conn, :update, @post)) %>

<span><%= link "Back", to: Routes.posts_path(@conn, :index) %></span>

</section>
