<section class="article pt-40">
  <article>
    <h1 class="font-jura text-4xl">New Post</h1>
  </article>

<%= render "form.html", Map.put(assigns, :action, Routes.posts_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.posts_path(@conn, :index) %></span>

</section>
