<h1>Show Post</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

  <li>
    <strong>Published On:</strong>
    <%= @post.published_on %>
  </li>

  <li>
    <strong>Visible:</strong>
    <%= @post.visible %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.posts_path(@conn, :edit, @post) %></span> |
<span><%= link "Back", to: Routes.posts_path(@conn, :index) %></span>
