<section class="article pt-40">
  <article>
    <h1 class="jura text-4xl">Edit Tag</h1>
  </article>
<br>

<%= render "form.html", Map.put(assigns, :action, Routes.tag_path(@conn, :update, @tag)) %>

<span><%= link "Back", to: Routes.tag_path(@conn, :index) %></span>

</section>
