<section class="text-jet text-xl font-kosugi article pt-40">
    <div class="items-center grid grid-rows-3 grid-flow-col">

<table>
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
<%= for tag <- @tags do %>
    <tr>
      <td><%= tag.name %></td>

      <td>
        <span><%= link "Show posts", to: Routes.tag_path(@conn, :show, tag) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
</section>
