<section class="flex-auto article pt-40">
<br>

<ul>

  <li>
    <strong>Tag:</strong>
    <%= @tag.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.tag_path(@conn, :edit, @tag) %></span> |
<span><%= link "Back", to: Routes.tag_path(@conn, :index) %></span>

</section>
