@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi&display=swap");

/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #22181C;
  background-color: #84DCCF;
  border-color: #22181C;
}
.alert-warning {
  color: #312F2F;
  background-color: #EF626C;
  border-color: #312F2F;
}
.alert-danger {
  color: #F6E8EA;
  background-color: #22181C;
  border-color: #F6E8EA;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.article {
  float: left;
  width: 140%;
}

.ball {
  position: absolute;
  display: flow-root;
  align-items: center;
  justify-content: flex-end;
  height: 150px;
  width: 35px;
  border-radius: 300px;
  overflow: hidden;
  z-index: 40;
}

.ball-light {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 67% 30%, #EF626C, #84DCCF);
  mix-blend-mode: multiply;
}

.ball-shadow {
  height: 100%;
  background: radial-gradient(circle at 65% 35%, #22181C, #312F2F), url(https://grainy-gradients.vercel.app/noise.svg);     
  filter: contrast(120%) brightness(900%);
}

.button {
  background-color: licorice;
  border: #312F2F;
  padding: 5px 2px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
}

.object-center {
  top: 500;
  left: 2000;
}

div.absolute {
  position: right;
  right: 0px;
  top: 60px;
  width: 150px;
  height: 400px;
} 

div.fixed {
  position: right;
  right: 0px;
  width: 200px;
  height: 150px;
}

.footer {
  position: fixed;
  left: 5;
  bottom: 0;
  width: 161%;
  color: #EF626C;
  text-align: center;
}

.invalid-feedback {
  color: #EF626C;
  display: block;
  margin: -1rem 0 2rem;
}

.isolate {
  isolation: isolate;
  position: sticky;
  top: 0;
  height: 10%;
  width: 10%;
}

.noise {
  /* ... */
  background:
    linear-gradient(to right, #84DCCF, #22181C),
    url(https://grainy-gradients.vercel.app/noise.svg);
    filter: contrast(170%) brightness(1000%); 
}

.overlay {
  /* ... */
  background: #F6E8EA;
  mix-blend-mode: multiply;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #22181C;
}

.phx-modal-content {
  background-color: #F6E8EA;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #84DCCF;
  width: 80%;
}

.phx-modal-close {
  color: #F6E8EA;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: #22181C;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

.static { 
  position: static;
}



@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* @font-face {
  font-family: 'Jura';
  src: url('../Jura-VariableFont_wght.ttf'), format('ttf');
}

@font-face {
  font-family: 'Kosugi';
  src:  url('../Kosugi-Regular.ttf') format('ttf'); 
} */