<section class="article pt-40">
  <article>
    <h1 class="jura text-4xl">Edit Comment</h1>
  </article>
<br>
<%= render "form.html", Map.put(assigns, :action, Routes.comment_path(@conn, :update, @comment)) %>

<span><%= link "Back", to: Routes.comment_path(@conn, :index) %></span>

</section>
