<h1>Show Comment</h1>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @comment.content %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.comment_path(@conn, :edit, @comment) %></span> |
<span><%= link "Delete", to: Routes.comment_path(@conn, :delete, @comment.id), method: :delete, data: [confirm: "Are you sure?"] %></span> |
<span><%= link "Back", to: Routes.comment_path(@conn, :index) %></span>
