<section class="flex-auto article pt-40">
  <article>
    <h1 class="font-jura text-4xl">About BEAMscene</h1>
  </article>

  <br>
  <div class="text-xl">
        BEAMscene is a collaborative blog built by members of the first <a href="https://github.com/DockYard-Academy">Dockyard Academy</a> cohort.
        Our focus is on the fascinating <a href="https://github.com/llaisdy/beam_languages#34-languages-on-the-beam">family of programming languages</a> that run on <a href="https://www.erlang.org/blog/a-brief-beam-primer/">the BEAM virtual machine</a>,
        each of which presents a unique perspective on the past, present, and future of computing—but all through the lens of the Erlang paradigm.
        <br><br>
        BEAMscene embraces nonconventional approach to reading and thinking with programming. Beyond purely technical discussions, we seek out BEAM languages as they are
        spoken in "the real world." How does a programmer fall in love with high concurrency? Why does an investor trust a company with an all-Elixir stack? Where are teachers
        teaching functional programming through Erlang?
        <br><br>
        With us, uncover the under-appreciated people and stories that sustain by the genius of <a href="https://erlang.org/euc/08/euc_smp.pdf">SMP</a>.
        Expect contributions from folks working in Elixir, Erlang, Gleam, Luerl, Clojerl, Alpaca...maybe even Fika!
        <br>

        Written in <a href="https://elixir-lang.org">Elixir</a>, <a href="https://github.com/phoenixframework/phoenix_live_view">Phoenix Liveview</a>,
        <a href="https://tailwindcss.com/">TailwindCSS</a>, and <a href="https://postgresql.org/">PostgresQL</a>. Deployed on the incredible <a href="https://fly.io">Fly.io</a>.
        <br>
        <br>

        <h2 class="font-bold">Contributors:</h2>
        <a href="https://github.com/lgmfred">@lgmfred</a>, <a href="https://github.com/mvkvc">@mvkvc</a>, <a href="https://github.com/einariii">@einariii</a>
    </div>
  <br>
  <span><%= link "Back", to: Routes.posts_path(@conn, :index) %></span>
</section>
