<section class="article pt-60 pl-60">
  <article>
    <h1 class="font-jura text-4xl">About BEAMscene</h1>
  </article>

  <br>
  <div class="text-2xl text-justify">
        BEAMscene is a collaborative blog built by members of the first <a class="font-bold" href="https://github.com/DockYard-Academy">Dockyard Academy</a> cohort.
        Our focus is on the fascinating <a class="font-bold" href="https://github.com/llaisdy/beam_languages#34-languages-on-the-beam">family of programming languages</a> that run on <a class="font-bold" href="https://www.erlang.org/blog/a-brief-beam-primer/">the BEAM virtual machine</a>,
        each of which presents a unique perspective on the past, present, and future of computing—a perspective strongly informed, in some significant way, by the Erlang wordle-view.
        But what is this worldview, really? Where does the BEAM begin and end? What is its true shape and extent?
        <br><br>
        BEAMscene embraces a nonconventional approach to reading about and thinking with programming. Beyond purely technical discussions, we seek out BEAM languages as they are
        spoken in "the real world"—by humans, in cultural as much as engineering practice. How does one come to feel affection for a programming paradigm? What impulse makes an investor throw a million dollars at an all-Elixir stack?
        What's an afterparty at a Code Sync conference like?
        <br><br>
        With us, uncover the under-appreciated people and stories that sustain on the computer-science genius of <a class="font-bold" href="https://erlang.org/euc/08/euc_smp.pdf">SMP</a>.
        Expect contributions from folks working in Elixir, Erlang, Gleam, Luerl, Clojerl, Caramel, Alpaca...maybe even Fika!
        <br>
        <br>
        Written in <a class="font-bold" href="https://elixir-lang.org">Elixir</a>, <a class="font-bold" href="https://www.phoenixframework.org/">Phoenix</a>,
        <a class="font-bold" href="https://tailwindcss.com/">TailwindCSS</a>, and <a class="font-bold" href="https://postgresql.org/">PostgresQL</a>. Deployed on the incredible <a href="https://fly.io">Fly.io</a>.
        <br>
        <br>

        <u>Contributors</u>
        <br>
        <a class="font-bold" href="https://github.com/lgmfred">@lgmfred</a>, <a class="font-bold" href="https://github.com/mvkvc">@mvkvc</a>, and <a class="font-bold" href="https://github.com/einariii">@einariii</a>
    </div>
  <br>
  <span><%= link "Back", to: Routes.posts_path(@conn, :index) %></span>
</section>
